4.8 Task

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [3]:
#Set OS Path
path = r'/Users/faridchehraz/Desktop/Python/Master - Dec2021 Instacart Basket Analysis'

In [4]:
#Import ords_prods_merged  pkl file
df_ords_prods_merged = pd.read_pickle(os.path.join(path, '2. Data', 'b. Prepared Data', 'orders_products_merged_analysis.pkl'))

In [5]:
df_ords_prods_merged.shape

(32435059, 19)

In [6]:
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,Check,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average orders
1,2539329,1,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both,Mid-range product,Regularly busy,Regularly busy days,Average orders
2,2539329,1,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regularly busy,Regularly busy days,Average orders
3,2539329,1,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,Low-range product,Regularly busy,Regularly busy days,Average orders
4,2539329,1,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both,Low-range product,Regularly busy,Regularly busy days,Average orders

In [7]:
#Split the DF into dept_id groups & apply the function to each group to obtain the mean values for the order_num column
df_ords_prods_merged.groupby('department_id')['order_number'].mean()

department_id
1.0     15.457838
2.0     17.277920
3.0     17.170395
4.0     17.811403
5.0     15.215751
6.0     16.439806
7.0     17.225802
8.0     15.340650
9.0     15.895474
10.0    20.197148
11.0    16.170638
12.0    15.887671
13.0    16.583536
14.0    16.773669
15.0    16.165037
16.0    17.665606
17.0    15.694469
18.0    19.310397
19.0    17.177343
20.0    16.473447
21.0    22.902379
Name: order_number, dtype: float64

Difference between 1m row subset and total dataframe:
all averages are different with some being higher and some lower

In [8]:
#3 steps combined to analyse customer loyalty by number of orders
df_ords_prods_merged['max_order'] = df_ords_prods_merged.groupby(['user_id'])['order_number'].transform(np.max)

In [9]:
#Check output
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,Check,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,10
1,2539329,1,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,10
2,2539329,1,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regularly busy,Regularly busy days,Average orders,10
3,2539329,1,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,Low-range product,Regularly busy,Regularly busy days,Average orders,10
4,2539329,1,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both,Low-range product,Regularly busy,Regularly busy days,Average orders,10

In [10]:
#Create loyalty flag criteria - loyal customer
df_ords_prods_merged.loc[df_ords_prods_merged['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [11]:
#Create loyalty flag criteria - regular customer
df_ords_prods_merged.loc[(df_ords_prods_merged['max_order'] <= 40) & (df_ords_prods_merged['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [12]:
#Create loyalty flag criteria - new customer
df_ords_prods_merged.loc[df_ords_prods_merged['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [13]:
#Loyalty flag groupings count
df_ords_prods_merged['loyalty_flag'].value_counts(dropna = False)

Regular customer    15891507
Loyal customer      10294027
New customer         6249525
Name: loyalty_flag, dtype: int64

In [14]:
df_ords_prods_merged.shape

(32435059, 21)

In [15]:
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,aisle_id,department_id,prices,Check,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,196,1,0,both,...,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,10,New customer
1,2539329,1,1,2,8,NaN,14084,2,0,both,...,91.0,16.0,12.5,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,10,New customer
2,2539329,1,1,2,8,NaN,12427,3,0,both,...,23.0,19.0,4.4,both,Low-range product,Regularly busy,Regularly busy days,Average orders,10,New customer
3,2539329,1,1,2,8,NaN,26088,4,0,both,...,23.0,19.0,4.7,both,Low-range product,Regularly busy,Regularly busy days,Average orders,10,New customer
4,2539329,1,1,2,8,NaN,26405,5,0,both,...,54.0,17.0,1.0,both,Low-range product,Regularly busy,Regularly busy days,Average orders,10,New customer

In [16]:
#Miultiple aggregations - average / min / max product prices by customer loyalty group
df_ords_prods_merged.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

In [17]:
#3 steps combined to analyse customer spending by average cost per order
df_ords_prods_merged['avg_order_cost_by_cust'] = df_ords_prods_merged.groupby(['user_id'])['prices'].transform('mean')

In [18]:
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,department_id,prices,Check,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_order_cost_by_cust
0,2539329,1,1,2,8,NaN,196,1,0,both,...,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,10,New customer,6.367797
1,2539329,1,1,2,8,NaN,14084,2,0,both,...,16.0,12.5,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,10,New customer,6.367797
2,2539329,1,1,2,8,NaN,12427,3,0,both,...,19.0,4.4,both,Low-range product,Regularly busy,Regularly busy days,Average orders,10,New customer,6.367797
3,2539329,1,1,2,8,NaN,26088,4,0,both,...,19.0,4.7,both,Low-range product,Regularly busy,Regularly busy days,Average orders,10,New customer,6.367797
4,2539329,1,1,2,8,NaN,26405,5,0,both,...,17.0,1.0,both,Low-range product,Regularly busy,Regularly busy days,Average orders,10,New customer,6.367797

In [19]:
#Create spender flag criteria - low spender
df_ords_prods_merged.loc[df_ords_prods_merged['avg_order_cost_by_cust'] < 10, 'spender_flag'] = 'Low spender'

In [20]:
#Create spender flag criteria - high spender
df_ords_prods_merged.loc[df_ords_prods_merged['avg_order_cost_by_cust'] >= 10, 'spender_flag'] = 'High spender'

In [21]:
df_ords_prods_merged.head(1500)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,prices,Check,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_order_cost_by_cust,spender_flag
0,2539329,1,1,2,8,NaN,196,1,0,both,...,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,10,New customer,6.367797,Low spender
1,2539329,1,1,2,8,NaN,14084,2,0,both,...,12.5,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,10,New customer,6.367797,Low spender
2,2539329,1,1,2,8,NaN,12427,3,0,both,...,4.4,both,Low-range product,Regularly busy,Regularly busy days,Average orders,10,New customer,6.367797,Low spender
3,2539329,1,1,2,8,NaN,26088,4,0,both,...,4.7,both,Low-range product,Regularly busy,Regularly busy days,Average orders,10,New customer,6.367797,Low spender
4,2539329,1,1,2,8,NaN,26405,5,0,both,...,1.0,both,Low-range product,Regularly busy,Regularly busy days,Average orders,10,New customer,6.367797,Low spender
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,1681401,17,2,5,10,3.0,6212,7,0,both,...,7.7,both,Mid-range product,Regularly busy,Regularly busy days,Most orders,40,Regular customer,108.648299,High spender
1496,1681401,17,2,5,10,3.0,30992,8,0,both,...,1.6,both,Low-range product,Regularly busy,Regularly busy days,Most orders,40,Regular customer,108.648299,High spender
1497,1681401,17,2,5,10,3.0,8730,9,0,both,...,12.1,both,Mid-range product,Regularly busy,Regularly busy days,Most orders,40,Regular customer,108.648299,High spender
1498,1681401,17,2,5,10,3.0,10300,10,0,both,...,10.4,both,Mid-range product,Regularly busy,Regularly busy days,Most orders,40,Regular customer,108.648299,High spender
1499,1681401,17,2,5,10,3.0,15925,11,0,both,...,1.8,both,Low-range product,Regularly busy,Regularly busy days,Most orders,40,Regular customer,108.648299,High spender

In [22]:
#3 steps combined to analyse customer spending by average cost per order
df_ords_prods_merged['cust_frequency'] = df_ords_prods_merged.groupby(['user_id'])['days_since_prior_order'].transform('median')

In [1]:
df_ords_prods_merged.head()

NameError: name 'df_ords_prods_merged' is not defined

In [24]:
#Create customer frquency flag criteria - non-frequent
df_ords_prods_merged.loc[df_ords_prods_merged['cust_frequency'] > 20, 'frequency_flag'] = 'Non-frequent customer'

In [25]:
#Create customer frequency flag criteria - regular customer
df_ords_prods_merged.loc[(df_ords_prods_merged['cust_frequency'] <= 20) & (df_ords_prods_merged['cust_frequency'] > 10), 'frequency_flag'] = 'Regular customer'

In [26]:
#Create customer frquency criteria - new customer
df_ords_prods_merged.loc[df_ords_prods_merged['cust_frequency'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [27]:
df_ords_prods_merged.head(100)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_order_cost_by_cust,spender_flag,cust_frequency,frequency_flag
0,2539329,1,1,2,8,NaN,196,1,0,both,...,Mid-range product,Regularly busy,Regularly busy days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2539329,1,1,2,8,NaN,14084,2,0,both,...,Mid-range product,Regularly busy,Regularly busy days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,2539329,1,1,2,8,NaN,12427,3,0,both,...,Low-range product,Regularly busy,Regularly busy days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2539329,1,1,2,8,NaN,26088,4,0,both,...,Low-range product,Regularly busy,Regularly busy days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,2539329,1,1,2,8,NaN,26405,5,0,both,...,Low-range product,Regularly busy,Regularly busy days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,738281,2,4,2,10,8.0,21150,13,0,both,...,Mid-range product,Regularly busy,Regularly busy days,Most orders,14,Regular customer,7.515897,Low spender,13.0,Regular customer
96,1673511,2,5,3,11,8.0,47144,1,0,both,...,Mid-range product,Regularly busy,Least busy days,Most orders,14,Regular customer,7.515897,Low spender,13.0,Regular customer
97,1673511,2,5,3,11,8.0,5322,2,0,both,...,Low-range product,Regularly busy,Least busy days,Most orders,14,Regular customer,7.515897,Low spender,13.0,Regular customer
98,1673511,2,5,3,11,8.0,17224,3,0,both,...,Low-range product,Regularly busy,Least busy days,Most orders,14,Regular customer,7.515897,Low spender,13.0,Regular customer
99,1673511,2,5,3,11,8.0,38656,4,0,both,...,Low-range product,Regularly busy,Least busy days,Most orders,14,Regular customer,7.515897,Low spender,13.0,Regular customer

In [28]:
#Export DF as ords_prods_merged_analysis_cat.pkl
df_ords_prods_merged.to_pickle(os.path.join(path, '2. Data', 'b. Prepared Data', 'ords_prods_merged_analysis_cat.pkl'))

In [ ]:
#Check column data types
customers.info()